<!DOCTYPE html>
<html ng-app = 'myApp'>
<head>
  <meta charset="UTF-8">
  <title>{{greeting}} World</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div class = 'container'>

  <p>Say something to the world <input type = 'text' ng-model = 'greeting' ng-init= 'greeting="hello, "'></p>
  <p>{{greeting}} world!</p>

  <hr>

  <p>Insert Name: </p>
  <input type = 'text' placeholder = 'What is your name?' ng-model = 'name'>

  <select ng-model = 'animal'>
    <option value="Dogs">Dogs</option>
    <option value="Cats">Cats</option>
    <option value="Dogs and Cats">Dogs and Cats</option>
    <option value="Neither">Neither</option>
  </select>

  <h2> My name is: {{name}}</h2>
  <h2> I Like {{animal}}</h2>

  <hr>

  <p> 1+2 = {{1+2}}</p>
  <p>My Name is {{'Bojack' + 'Horseman'}}</p>
  <p>The Array [99,43,22] is {{[99,43,22].length}} items long</p>

  <p>{{3.14159265359 | currency: '€'}}</p>

  <hr>

  <h2>What You Saying?</h2>
  <input type = 'text' placeholder = 'Say Something bro!!' ng-model = 'word'>
  <p>Yelling: {{word | uppercase}}</p>
  <p>Whispering: {{word | lowercase}}
  </p>

  <hr>

  <h2> How many pi digits do you want?</h2>
  <select ng-model = 'pi'>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
  <p>Here you go, the first {{pi}} digits of pi! <br>{{3.14159265359 | number:pi }}</p>

  <hr>

  <h2>Super Useful Tip Calculator</h2>

  <p>How much did your meal cost? <input type = 'number' ng-model= 'total'></p>

  <p>How much do you want to tip?</p>

  <select ng-model = 'tipPercent'>
    <option value="10">10%</option>
    <option value="15">15%</option>
    <option value="20">20%</option>
    <option value="25">25%</option>
    <option value="30">30%</option>
  </select>

  <h3>Subtotal : {{total | currency}}</h3>

  <h3>Tip : {{ total/100 * tipPercent | currency}}</h3>

  <hr>

  <div ng-controller = 'madlibsController'>

  <h2>MadLibs Exercise</h2>

  <form name = 'madlibsForm'>
    <div class="form-group">
      <label for="Name">Boy's Name</label>
      <input type="text" class="form-control" ng-model = 'madlibs.madlibsName' placeholder="Name" name='boysName'>
    </div>
    <div class="form-group">
      <label for="Adjective">Adjective</label>
      <input type="text" class="form-control" ng-model = 'madlibs.madlibsAdjective' placeholder="Adjective">
    </div>
    <div class="form-group">
      <label for="Plural Noun">Plural Noun</label>
      <input type="text" class="form-control" ng-model = 'madlibs.madlibsPluralNoun' placeholder="Plural Noun">
    </div>
    <div class="form-group">
      <label for="An Animal">An Animal (Plural)</label>
      <input type="text" class="form-control" ng-model = 'madlibs.madlibsAnimal' placeholder="Any Animal">
    </div>
    <div class="form-group">
      <label for="Plural Noun">Plural Noun</label>
      <input type="text" class="form-control" ng-model = 'madlibs.madlibsPluralNoun2' placeholder="Plural Noun">
    </div>
    <div class="form-group">
      <label for="Verb">A verb Ending in S</label>
      <input type="text" class="form-control" ng-model = 'madlibs.madlibsVerb' placeholder="A Verb ending in S">
    </div>
  </form>

  <h3>Testing out first name = {{madlibs.madlibsName}}</h3>
  <h3>That is {{madlibs.madlibsName}}. They are so super {{madlibs.madlibsAdjective}}.
  He has so many {{madlibs.madlibsPluralNoun}}. I think that he likes {{madlibs.madlibsAnimal}}. But I Hate {{madlibs.madlibsAnimal}}. I think he just wants to play with his {{madlibs.madlibsPluralNoun2}} all day. I just want him to {{madlibs.madlibsVerb}}.</h3>

  </div>

  <hr>

  <h2> Names </h2>

    <div ng-controller = 'mainController'>

    <h4>Repeat on li in ul</h4>
      <ul>
        <li  ng-repeat = 'name in names'>{{name}}</li>
      </ul>

    <h4>Repeat on ul with name in li</h4>
      <ul ng-repeat = 'name in names'>
        <li>{{name}}</li>
      </ul>

    <h4>Symbols</h4>
      <ul ng-repeat = 'symbol in symbols'>
        <li>{{symbol}}</li>
      </ul>

 <!-- (ng-bind-html) to use to get symbols to display correctly, needs $sce to work correctly.
    <h4>Number</h4>
      <ul ng-repeat = 'number in duplicates'>
        <li>{{number}}</li>
      </ul> -->

    <h4>Object</h4>
      <ul ng-repeat = 'key in testObject'>
        <li>{{key}}</li>
      </ul>

    </div>

    <hr>

    <h2> Show and Hide</h2>

    <div ng-show="3 + 4 == 5">
      3 + 4 isn't 5, don't show
    </div>

    <div ng-show="3 + 4 == 7">
      3 + 4 is 7, do show
    </div>

    <div ng-hide="3 + 4 == 5">
        3 + 4 isn't 5, don't hide
    </div>

    <div ng-hide="3 + 4 == 7">
      3 + 4 is 7, do hide
    </div>

    <h4>Sign Up</h4>

    <div class = 'error' ng-class = '{okay: password.length>=6}'>

      <input type = 'password' ng-model = 'password'>
        <p> Your password is {{password.length}} characters</p>
    </div>
    <div ng-show = 'password.length >= 6 '>
      <button type = 'btn btn-default'>Sign In</button>
    </div>
    <div ng-hide = 'password.length >= 6'>
      <p> Too few letters there buddy!!</p>
    </div>

    <hr>

    <h2>Camera Shop</h2>

    <div ng-controller = 'mainController' class = 'row'>

     <select ng-model = 'cameraFilter'>
      <option value="rating">Rating</option>
      <option value="price">Price</option>
     </select>

     <br>

    <div ng-repeat = 'camera in cameras | orderBy: cameraFilter' class = 'col-xs-4'>
      <h4>{{camera.title}}</h4>
      <p>Rating: {{camera.rating}}</p>
      <div ng-if='camera.onSale == true'>
        <p ng-class='{sale: camera.onSale}'>Price: {{camera.price | currency}} ON SALE!!!!</p>
      </div>
       <div ng-if='camera.onSale == false'>
        <p ng-class='{sale: camera.onSale}'>Price: {{camera.price | currency}}</p>
      </div>
      <img class = 'smallPic' ng-src = '{{camera.image}}'>
    </div>

    </div>

    <hr>

    <div ng-controller = 'secondController'>
      <h2>My Name is : {{name}}</h2>
    </div>

    <hr>

    <div ng-controller = 'exercisesController'>
      <h2>My Fave Colour is : {{favColour}}</h2>
      <h2>Seconds in a Century : {{secondsInACentury | number}}</h2>
      <h2>The Time Right Now is : {{timeNow |date: 'dd-MM-yyyy HH:mm:ss'}}</h2>
    </div>

    <hr>

    <h2>Angular Functions</h2>

    <div ng-controller = 'thirdController'>
      <h2>The number is : {{number}}</h2>
      <button class = 'btn btn-default' ng-click='pickRandomNumber()'>Pick Random Number</button>
      <br>
      <br>

      <input type="text" class="form-control" ng-model = 'stringInput' placeholder="Reverse Word">
      <p>Your word is : {{stringInput}}</p>
      <button class = 'btn btn-default' ng-click='reverseString(stringInput)'>Reverse Word</button>

    </div>

    <hr>

    <div class = 'row text-center'  ng-controller = 'fourthController'>
      <h1>Ping Pong Score Keeper</h1>
      <div class = 'col-xs-6' ng-click='checkWinner(); anyClick(); player1Click(); serving()' ng-class='{loser: player1Loses && player1Wins === false, player1: player1Wins === false && player1Loses === false, winner: player1Wins}'>
        <h2>Player 1</h2>
        <h1>{{player1Score}}</h1>
        <h2 ng-show='player1Serving' class = 'serve'>Serving</h2>
      </div>
      <div class = 'col-xs-6' ng-click='checkWinner(); anyClick(); player2Click(); serving()' ng-class='{loser: player2Loses && player2Wins === false, player2: player2Wins === false && player2Loses === false, winner: player2Wins}'>
        <h2>Player 2</h2>
        <h1>{{player2Score}}</h1>
        <h2 ng-show='player2Serving' class = 'serve'>Serving</h2>
      </div>
      <button class = 'btn btn-default col-xs-offset-4 col-xs-4' ng-click='reset()'>Reset</button>

    </div>

    <hr>

    <h2>Contacts App</h2>

    <div class = 'row' ng-controller = 'contacts'>

      <form class="form-inline col-xs-12" name = 'contactForm'>
        <div class="form-group col-xs-3">
          <label for="studentName">Name : </label>
          <input type="text" class="form-control" id="studentName" placeholder="Enter Name Here" required="string" ng-model = 'contact.name' name= 'contactName'>
        </div>
        <div class="form-group col-xs-3">
          <label for="studentEmail">Email : </label>
          <input type="email" class="form-control" id="studentEmail" placeholder="Enter Email Here" required="string" ng-model = 'contact.email' name = 'contactEmail'>
        </div>
        <div class="form-group col-xs-3">
          <label for="studentNumber">Number : </label>
          <input type="number" class="form-control" id="studentNumber" placeholder="Enter Number Here" required="number" ng-model = 'contact.number' name ='contactNumber'>
        </div>
         <button type="submit" ng-disabled = 'contactForm.$invalid'class="btn btn-default col-xs-3"  ng-click = 'newContact(contactForm.contactName, contactForm.contactEmail, contactForm.contactNumber)'>Create</button>
      </form>


    <br><br>

     <div class="form-group col-xs-offset-4 col-xs-4">
         <input type="text" class="form-control" placeholder="Search" ng-model = 'search'>
     </div>

    <table class = 'table table-striped'>
      <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Phone Number </th>
      </tr>
      <tr ng-repeat = 'contact in contacts | filter: search'>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.number}}</td>
      </tr>
    </table>

    </div>

  </div>

  <script type="text/javascript" src = 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js'></script>
   <script type="text/javascript" src = 'main.js'></script>
</body>
</html>
