.error{
  color: red;
}

.okay{
  color:green;
}

.smallPic{
  height: auto;
  width: 200px
}

.sale{
  color: orange;
}

.winner{
  background-color: green;
}

.loser{
  background-color: red;
}

.player1{
  background-color: cyan;
  border: 20px white solid;
}

.player2{
  background-color: cyan;
  border : 20px white solid;
}

